# Local .terraform directories
**/.terraform/*
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# .tfplan files
*.tfplan

# Crash log files
crash.log

# Exclude any sensitive variable files
*_override.tf
*_override.tf.json
*_override.tfvars
*_override.auto.tfvars
*.auto.tfvars
*.tfvars

# Ignore CLI configuration files
.terraformrc
terraform.rc